{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
{% if config.plugins.simplesearch.enabled and particle.blog_root in page.route  %}
  <div class="blog_search {{ particle.css.class }}">
  {% include 'partials/simplesearch_searchbox.html.twig' %}
  {% do gantry.theme.load('jquery') %}
  </div>
{% endif %}
{% endblock %}
